.ventas-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.ventas-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.ventas-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.productos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.productos-lista button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

.productos-lista button:disabled {
  background: #9e9e9e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #1976d2;
  color: white;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td input {
  width: 60px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  opacity: 0.9;
}

.ventas-container h3 {
  text-align: right;
  margin-top: 10px;
}

/* MODAL COBRO */
.cobro-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
}

.cobro-modal input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}
.acciones-cobro {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.acciones-cobro button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.acciones-cobro .cancelar {
  background: #ccc;
}